{% extends "shop/base.html" %}
{% load url from future %}

{% block title %} Product List {% endblock %}
{% block body %}
  <h1>Product list:</h1>
  <hr />

	<div class="container">
		<ol class="breadcrumb">
		  <li class="active">Home</li>
		</ol>
		<div class="row">
			{% for object in object_list %}
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="thumbnail">
						<img class="img-responsive" src="{{ object.photo.url }}" />
						<h3><a href="{% url 'product_detail' object.slug %}">{{object.get_name}}</a><br /></h3> 
						<p>{{ object.description | capfirst }}</p>
						<p><a class="btn btn-info" href="{% url 'product_detail' object.slug %}">View details &raquo;</a></p>
					</div>
				</div><!-- /.span4 -->
			{% endfor %}
		</div><!-- /.row -->
	</div>

	<div class="pagination pagination-sm">
		<span class="step-links">
			{% if page_obj.has_previous %}
				<a href="?page={{ page_obj.previous_page_number }}">previous</a>
			{% endif %}

			<span class="current">
				Page {{ page_obj.number }} of {{ paginator.num_pages }}.
			</span>

			{% if page_obj.has_next %}
				<a href="?page={{ page_obj.next_page_number }}">next</a>
			{% endif %}
		</span>
	</div>
{% endblock %}
